.e5_body  {
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center
}
.e5_title  {
    color: white;
    text-shadow:4px 4px 15px 0 black;
    margin-bottom: 50px;
    text-align:center;
    font-family:"no-roboto", sans-serif;    
}
.e5_div  {
    background-color: white;
    width:100%;
    height:70px;
    box-shadow:4px 4px 15px 0 black;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    padding: 0;
}
.e5_dropdown  {
    width:200px;
    margin-bottom: 20px;
}
.e5_graph {
    width: 100%;
}